
<h1>
  {{ category ? 'Categor&iacute;a' : 'Productos' }}: {{ category ? category.Name : '' }}
</h1>
<hr />


<div class="row">
  <div class="col-xl-2 col-xs-12">
    Filters:
  </div>
  <div class="col-xl-10 col-xs-12">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 product-card" *ngFor="let product of products">
        <div class="card">
          <!--Card image-->
          <div class="product-image">
            <img src="https://broxtechnology.com/images/iconos/box.png" class="card-img-top" alt="photo">
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title text-wrap" title="{{product.Name}}">{{ product.Name }}</h4>
            <!-- Rating -->
            <div>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStarHalfAlt" [fixedWidth]="true" class="star"></fa-icon>
            </div>
            <!-- Description -->
            <p>
              {{ product.Description }}
            </p>
            <div class="text-right">
              <button class="btn btn-block btn-primary" (click)="addToCart(product)">
                <fa-icon [icon]="icons.faShoppingCart" [fixedWidth]="true"></fa-icon>
                Añadir al Carrito
              </button>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left">
                <b> {{ (100 - (product.Price * 100 / (product.Price + 159990))) | number:'1.2-2' }}% Off </b>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xl-12 col-xs-12 text-right">
                    <del>
                      <small class="text-muted m-1">{{ (product.Price + 159990) | currency:'CLP':'$' }}</small>
                    </del>
                  </div>
                  <div class="col-xl-12 col-xs-12 text-right">
                    <b class="text-primary text-wrap">{{ product.Price | currency:'CLP':'$'}}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
