
<h1>
  {{ category ? 'Categor&iacute;a' : 'Productos' }}: {{ category ? category.Name : '' }}
</h1>
<hr />


<div class="row">
  <div class="col-xl-2 col-xs-12">
    <h3>
      Filtros:
    </h3>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="product-name">Nombre:</label>
          <input name="name"
                 [(ngModel)]="filters.ProductName"
                 type="text"
                 class="form-control"
                 id="product-name"
                 placeholder="Ingresa el nombre del producto">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-10 col-xs-12">
    <div class="row">
      <div class="col-12">
        <div id="pagination" class="text-center">
          <pagination-controls (pageChange)="productPageChanged($event)"
                               previousLabel="Atrás"
                               nextLabel="Siguiente"
                               autoHide="true"
                               responsive="true">
          </pagination-controls>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 product-card" *ngFor="let product of products | paginate: paginationConfig">
        <div class="card">
          <!--Card image-->
          <div class="product-image">
            <img src="https://broxtechnology.com/images/iconos/box.png" class="card-img-top" alt="photo">
          </div>
          <!--Card content-->
          <div class="card-body pb-1">
            <!--Title-->
            <h4 class="card-title text-wrap" title="{{product.Name}}">{{ product.Name }}</h4>
            <!-- Rating -->
            <div>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStar" [fixedWidth]="true" class="star"></fa-icon>
              <fa-icon [icon]="icons.faStarHalfAlt" [fixedWidth]="true" class="star"></fa-icon>
            </div>
            <!-- Description -->
            <p>
              {{ product.Description }}
            </p>
            <div>
              <button class="btn btn-block btn-primary" (click)="addToCart(product)" [disabled]="(product && product.DefaultStock && product.DefaultStock.Quantity === 0)">
                <fa-icon [icon]="icons.faShoppingCart" [fixedWidth]="true"></fa-icon>
                Añadir al Carrito
              </button>
            </div>
            <div class="mb-1 mt-1 text-right">
              <small> <strong> Stock: </strong>  <span class="badge badge-{{ getBadgeClass(product) }}">{{getBadgeText(product)}}</span></small>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left">
                <b> {{ (100 - (product.Price * 100 / (product.Price + 159990))) | number:'1.2-2' }}% Off </b>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xl-12 col-xs-12 text-right">
                    <del>
                      <small class="text-muted m-1">{{ (product.Price + 159990) | currency:'CLP':'$' }}</small>
                    </del>
                  </div>
                  <div class="col-xl-12 col-xs-12 text-right">
                    <b class="text-primary text-wrap">{{ product.Price | currency:'CLP':'$'}}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
