<div class="row m-3">
  <div class="col-xs-12 col-lg-6 col-xl-6">
    <h1>
      Producto: {{ currentProduct.Name }}
    </h1>
    <hr />
    <form novalidate=""
          (ngSubmit)="save(productForm)"
          #productForm="ngForm"
          class="was-validated">
      <div class="row">
        <!-- Name -->
        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" [ngClass]="{'has-danger': name.errors?.required && name.touched }">
            <label for="product-name">Nombre:</label>
            <input name="name"
                   #name="ngModel"
                   [(ngModel)]="currentProduct.Name"
                   required
                   type="text"
                   class="form-control"
                   id="product-name"
                   placeholder="Ingresa el nombre del producto">
          </div>
        </div>
        <!-- Price -->
        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" [ngClass]="{'has-danger': (price.errors?.required || price.errors?.min) && price.touched }">
            <label for="product-price">Precio:</label>
            <input name="price"
                   #price="ngModel"
                   [(ngModel)]="currentProduct.Price"
                   type="number"
                   required
                   min="0"
                   class="form-control"
                   id="product-price"
                   placeholder="Ingresa el precio">
          </div>
        </div>
        <!-- Code -->
        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" [ngClass]="{'has-danger': (code.errors?.required || code.errors?.pattern) && code.touched }">
            <label for="product-code">Part Number:</label>
            <input name="code"
                   #code="ngModel"
                   [(ngModel)]="currentProduct.PartNumber"
                   required
                   type="text"
                   class="form-control"
                   id="product-code"
                   aria-describedby="code-help"
                   placeholder="Ingresa un código único"
                   pattern="^[a-z\-]+">
            <small id="code-help" class="form-text text-muted">No puede contener espacios (reemplazar por gui&oacute;n medio).</small>
            <small id="code-help" class="form-text text-muted">No puede contener caracteres especiales.</small>
            <small id="code-help" class="form-text text-muted">S&oacute;lo min&uacute;sculas.</small>
          </div>
        </div>
        <!-- Categories -->
        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="product-categories">Categor&iacute;as:</label>
            <ng-multiselect-dropdown [placeholder]="'Seleccione una o más categorías'"
                                     [data]="categories"
                                     name="product-categories"
                                     [(ngModel)]="currentProduct.Categories"
                                     [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <!-- Description -->
        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" [ngClass]="{'has-danger': desc.errors?.required && desc.touched }">
            <label for="product-desc">Descripci&oacute;n:</label>
            <textarea name="desc"
                      #desc="ngModel"
                      [(ngModel)]="currentProduct.Description"
                      type="text"
                      class="form-control"
                      id="product-desc"
                      rows="4"
                      placeholder="Ingresa una pequeña descripci&oacute;n">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button name="save-btn" type="submit" class="btn btn-success" style="margin-right: 5px;" [disabled]="!productForm.valid || loading">
            <fa-icon [icon]="icons.faSave" [fixedWidth]="true"></fa-icon>&nbsp;
            Guardar
          </button>
          <button (click)="cancel()" name="cancel-btn" type="button" class="btn btn-danger">
            <fa-icon [icon]="icons.faTimes" [fixedWidth]="true"></fa-icon>&nbsp;
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-lg-6 col-xl-6">
    <h1>
      Productos
    </h1>
    <hr />
    <!-- product list -->
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">P. Number</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | paginate: paginationConfig">
          <td>{{ product.Name }}</td>
          <td>{{ product.PartNumber }}</td>
          <td>{{ product.Active }}</td>
          <td>
            <button (click)="edit(product)" type="button" class="btn btn-sm btn-default" style="margin-right: 5px;">
              <fa-icon [icon]="icons.faEdit" [fixedWidth]="true"></fa-icon>
            </button>
            <button [swal]="['Advertencia!', '¿Está seguro de querer eliminar este elemento?', 'warning']"
                    (confirm)="delete(product)"
                    type="button" class="btn btn-default btn-sm">
              <fa-icon [icon]="icons.faTrashAlt" [fixedWidth]="true"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="pagination" class="text-center">
      <pagination-controls (pageChange)="pageChanged($event)"
                           previousLabel="Atrás"
                           nextLabel="Siguiente"
                           autoHide="true"
                           responsive="true">
      </pagination-controls>
    </div>
  </div>
</div>
