<div class="row m-3">
  <div class="col-xs-12 col-lg-6 col-xl-6">
    <h1>
      Historial de Compras
    </h1>
    <hr />
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases | paginate: paginationConfig">
          <td>{{ purchase.Code }}</td>
          <td>{{ purchase.Date }}</td>
          <td>{{ purchase.Total }}</td>
          <td>
            {{ purchase.State.Name }}
          </td>
          <td>
            <!--<button (click)="edit(store)" type="button" class="btn btn-sm btn-default" style="margin-right: 5px;">
            <fa-icon [icon]="icons.faEdit" [fixedWidth]="true"></fa-icon>
          </button>
          <button [swal]="['Advertencia!', '¿Está seguro de querer eliminar este elemento?', 'warning']"
                  (confirm)="delete(store)"
                  type="button" class="btn btn-default btn-sm">
            <fa-icon [icon]="icons.faTrashAlt" [fixedWidth]="true"></fa-icon>
          </button>-->
          </td>
        </tr>
      </tbody>
    </table>
    <div id="pagination" class="text-center">
      <pagination-controls (pageChange)="pageChanged($event)"
                           previousLabel="Atrás"
                           nextLabel="Siguiente"
                           autoHide="true"
                           responsive="true">
      </pagination-controls>
    </div>
  </div>
</div>

