<div class="row m-3">
  <div [ngClass]="{ 'col-xs-12 col-lg-6 col-xl-6': currentPurchase, 'col-12': !currentPurchase }">
    <h1> Historial de Compras  </h1>
    <hr />
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases | paginate: paginationConfig">
          <td>{{ purchase.Id }}</td>
          <td>{{ purchase.Date | date:'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ purchase.Total | currency:'CLP':'$'}}</td>
          <td>
            <span class="badge badge-{{ getBadgeClass(purchase) }}">
              {{ purchase.PurchaseState.State }}
            </span>
          </td>
          <td>
            <button (click)="viewDetails(purchase)" type="button" class="btn btn-sm btn-default pt-0 pb-0">
              <fa-icon [icon]="icons.faEye" [fixedWidth]="true"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="pagination" class="text-center">
      <pagination-controls (pageChange)="pageChanged($event)"
                           previousLabel="Atrás"
                           nextLabel="Siguiente"
                           autoHide="true"
                           responsive="true">
      </pagination-controls>
    </div>
  </div>
  <div *ngIf="currentPurchase" class="col-xs-12 col-lg-6 col-xl-6">
    <h1>
      <button (click)="closeDetails()" type="button" class="btn btn-danger float-right mt-10px">
        <fa-icon [icon]="icons.faTimes" [fixedWidth]="true"></fa-icon>
      </button>
      Detalle de compra: <small>
        {{ currentPurchase.Date | date:'dd/MM/yyyy hh:mm' }}
        <span class="badge badge-{{ getBadgeClass(currentPurchase) }}">
          {{ currentPurchase.PurchaseState.State }}
        </span>
      </small>
    </h1>
    <hr />
    <div class="float-right">

    </div>
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unidad</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of currentPurchase.PurchaseDetail">
          <td>{{ detail.Product.Name }}</td>
          <td>{{ detail.Quantity }}</td>
          <td>{{ detail.ProductValue | currency:'CLP':'$'}}</td>
          <td>{{ (detail.ProductValue * detail.Quantity) | currency:'CLP':'$' }}</td>
        </tr>
        <tr class="">
          <td colspan="3" class="text-right">
            <b>
              TOTAL:
            </b>
          </td>
          <td>
            <b>
              {{ calculateTotal(currentPurchase.PurchaseDetail) | currency:'CLP':'$' }}
            </b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
